apiVersion: v1
kind: Service
metadata:
  labels:
    app: gitops-demo-app
  name: gitops-demo-app
  namespace: app
spec:
  ports:
    - port: 8000
      protocol: TCP
      targetPort: 8000
  selector:
    app: gitops-demo-app
  type: ClusterIP